(
    multithreading: true,
    test_scene: false,
    aspect_ratio: 1.7777777777777777,
    image_width: 300,
    image_height: 169,
    samples_per_pixel: 25,
    max_depth: 25,
    v_fov: 90,
    look_from: (
        x: 0,
        y: 18.666666666666664,
        z: 19.2,
    ),
    look_at: (
        x: 0,
        y: 0,
        z: 0,
    ),
    v_up: (
        x: 0,
        y: 1,
        z: 0,
    ),
    focal_distance: 26.77843244935081,
    aperture: 0.01,
    terrain_size: 32,
    terrain_resolution: 50,
    height_scale: 5.333333333333333,
    octaves: 2,
    frequency: 0.05,
    lacunarity: 0.5,
    seed: 167,
)