(
    multithreading: true,
    test_scene: true,
    aspect_ratio: 1.7777777777777777,
    image_width: 300,
    image_height: 169,
    samples_per_pixel: 25,
    max_depth: 25,
    v_fov: 90,
    look_from: (
        x: 0,
        y: 0,
        z: -3.5,
    ),
    look_at: (
        x: 0,
        y: 0,
        z: 0,
    ),
    v_up: (
        x: 0,
        y: 1,
        z: 0,
    ),
    focal_distance: 3.5,
    aperture: 0.01,
    terrain_size: 0,
    terrain_resolution: 0,
    height_scale: 0,
    octaves: 0,
    frequency: 0,
    lacunarity: 0,
    seed: 0,
)